<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All comments index</title>
</head>
<body>
    <h1>COMMENTS</h1>
    <!-- Displaying all comments -->
    <ul>
        <% for(let comment of comments)  {%>
             <li><%=comment.comment%> - <b><%=comment.username %></b>
             <a href="/comments/<%= comment.id %> ">Details</a>
            </li>
       <% } %> 
    </ul>
    <a href="/comments/new">Make a new comment</a>
</body>
</html>